[submodule "src/server/Dependencies/CookieIoC"]
	path = src/server/Dependencies/CookieIoC
	url = https://github.com/0xFireball/CookieIoC.git
[submodule "src/server/Dependencies/Osmium.PluginEngine"]
	path = src/server/Dependencies/Osmium.PluginEngine
	url = https://github.com/0xFireball/Osmium.PluginEngine.git
[submodule "src/server/Dependencies/IridiumJS"]
	path = src/server/Dependencies/IridiumJS
	url = git@github.com:joonatoona/IridiumJS.git
